.heading {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  h3 {
    font-family: Grandstander;
    font-size: 25px;
    color: var(--color);
  }

  h2 {
    font-family: Outfit Medium;
    font-size: 60px;
    color: var(--font);
  }
}