:root {
  --Color: #21b7e2;
  --font: #263238;
  --white: #ffffff;
  --dark: #000000;
  --background: #d0f6ff;
  --grand: #00334c;
  --tiny: #489fb5;
  --included: #a9a9aa;
  --list: #35353f;
  --dollar: #0B0914;

  --alert: #fe5265;
  --gray: #6f818d;
  --alpha: #2c3e50;
  --beta: #0a7ed2;
  --gamma: #1d2730;
  --delta: #ededed;
  --contrast: #e84188;
  --skills: #e1e1e1;
}
