:root {
  --palenavy: #f1f5ff;
  --prussianBlue: #003f5f;
  --white: #ffffff;
  --navyBlue: #1e33ec;

  --background: #e5e5e5;
  --dark: #000000;
  --alert: #fe5265;
  --hero: #ffe3e5;
  --small: #e31244;
  --cheese: #fff2a0;
  --frontpic: #c4c4c4;
  --backpic: #fcf6f6;
  --gray: #6f818d;
  --review: #383e56;
  --margin: #dbdff0;
  --heading: #272d41;
  --process: #f8ba12;
  --processes: #989fbc;
  --history: #656d89;
  --border: #f0f0f0;
  --footerH: #3f4767;
  --footerL: #9097af;

  --alpha: #2c3e50;
  --beta: #0a7ed2;
  --gamma: #1d2730;
  --delta: #ededed;
  --contrast: #e84188;
  --skills: #e1e1e1;
}
